<h1>Editing Login</h1>

<%= render 'form', login: @login , :class=>''%>

<%= link_to 'Show', @login,  :class=>'btn btn-outline-primary btn-sm' %> |
<%= link_to 'Back' , logins_path, :class=>'btn btn-outline-secondary btn-sm' %>
