
<h1 class="text-center">Login System</h1>
<div class ="d-flex justify-content-center"> 

    

    <%= render 'form', login: @login %>
    
    <%# <div class="btn btn-secondary"> %>

    <%# <%= link_to 'Back', logins_path %>

</div>
</div>
