<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-center">

  <p>
    <strong>Welcome to the page </strong>
    <%= @login.username %>
  </p>

</div>

<div class="d-flex justify-content-center mt-5">
  <%= link_to 'Edit', edit_login_path(@login),:class=>'btn btn-outline-primary mx-2' %> 
  <%= link_to 'Back', logins_path,:class=>'btn btn-outline-secondary mx-2' %>
</div>
