<style>
body{
    margin:0px;
    padding:0px;
    
    background-color:#e7f7e3;
   
  }
  nav{
    background-color:#F8F9FA;
  }
  .lol:hover{
    opacity:75%;
    cursor:pointer;
    transform: scale(1);

  }
</style>
<nav class="navbar navbar-expand-lg shadow-sm ">
  <div class="container">
    <a class="navbar-brand mx-5 bg-light" href="#"><img src="./images/ideabreed_icon.png" height="80px" width="80px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="right ">
      <div class="collapse navbar-collapse m-4" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item ">
          <a class="nav-link px-5 active bg-light text-success" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5 bg-light text-success" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5 bg-light text-success" href="#">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5 bg-light text-success" href="#">Contact</a>
        </li>
      </ul>

    </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class ="col-md-7">
        <h1 class="mt-5 pt-5 font-weight-bold">  
          Solid User-Friendly Software<br>
          Built on time within your <span style="color:#43A62D">Budget!</span>  
        </h1>
          
        

        <small class="d-flex mt-4 " >At IdeaBreed we have a passion of turnning idea into reality. Our world class Team is fluent
          in Ruby on Rails, Python, Node.js,React,React Native, IOS, flutter, Android and we are ready to design
          ,buid and train so your product is rock-solid and user-friendly
        </small>

        <button class="btn  rounded-pill text-light mt-4 px-4 " style="background-color:#43A62D">Contact Us</button>
      </div>

      <div class = "col-md-5 p-5 ">
        <div class=" "><svg xmlns="http://www.w3.org/2000/svg" id="b5d1da7b-a9c6-4711-8d73-fa7937ec989e" data-name="Layer 1" width="488" height="380.80704" viewBox="0 0 888 710.80704"><title>server_cluster</title><path d="M600.93555,699.40352a260.06372,260.06372,0,1,1,183.89355-76.1709A258.36518,258.36518,0,0,1,600.93555,699.40352Zm0-518.12891c-142.29688,0-258.06446,115.76758-258.06446,258.06494s115.76758,258.064,258.06446,258.064S859,581.63692,859,439.33955,743.23242,181.27461,600.93555,181.27461Z" transform="translate(-156 -94.59648)" fill="#ccc"></path><rect x="469" y="509.90391" width="262" height="195" transform="translate(1051.40391 -87.19257) rotate(90)" fill="#2f2e41"></rect><rect x="313" y="373.80743" width="262" height="104" fill="#3f3d56"></rect><rect x="313" y="489.80743" width="262" height="104" fill="#3f3d56"></rect><rect x="313" y="605.80743" width="262" height="104" fill="#3f3d56"></rect><rect x="313" y="417.90372" width="262" height="16" fill="#6c63ff"></rect><rect x="313" y="533.90372" width="262" height="16" fill="#6c63ff"></rect><rect x="313" y="649.90372" width="262" height="16" fill="#6c63ff"></rect><circle cx="524" cy="388.80743" r="6" fill="#6c63ff"></circle><circle cx="545" cy="388.80743" r="6" fill="#6c63ff"></circle><circle cx="566" cy="388.80743" r="6" fill="#6c63ff"></circle><circle cx="524" cy="502.80743" r="6" fill="#6c63ff"></circle><circle cx="545" cy="502.80743" r="6" fill="#6c63ff"></circle><circle cx="566" cy="502.80743" r="6" fill="#6c63ff"></circle><circle cx="524" cy="616.80743" r="6" fill="#6c63ff"></circle><circle cx="545" cy="616.80743" r="6" fill="#6c63ff"></circle><circle cx="566" cy="616.80743" r="6" fill="#6c63ff"></circle><path d="M397.8787,365.66116v185.9917a14.67525,14.67525,0,0,1-14.67227,14.67231H310.928a14.67656,14.67656,0,0,1-14.6784-14.67231V365.66116a14.67655,14.67655,0,0,1,14.6784-14.67228h8.76786a6.9778,6.9778,0,0,0,6.4551,9.60614h41.20843a6.97774,6.97774,0,0,0,6.45506-9.60614h9.392A14.67524,14.67524,0,0,1,397.8787,365.66116Z" transform="translate(-156 -94.59648)" fill="#e6e6e6"></path><rect x="145.06414" y="291.91002" width="92" height="128" fill="#fff"></rect><rect x="171.18557" y="379.92719" width="36.71978" height="2.09827" fill="#e6e6e6"></rect><rect x="171.14869" y="387.63152" width="56.81724" height="2.09827" fill="#6c63ff"></rect><rect x="171.14869" y="394.89011" width="44.5883" height="2.09827" fill="#e6e6e6"></rect><rect x="171.14869" y="402.1487" width="26.22841" height="2.09827" fill="#e6e6e6"></rect><rect x="171.14869" y="409.40729" width="39.34262" height="2.09827" fill="#e6e6e6"></rect><rect x="154.53324" y="379.32379" width="4.19655" height="4.19655" fill="#e6e6e6"></rect><rect x="154.53324" y="386.58238" width="4.19655" height="4.19655" fill="#6c63ff"></rect><rect x="154.53324" y="393.84097" width="4.19655" height="4.19655" fill="#e6e6e6"></rect><rect x="154.53324" y="401.09956" width="4.19655" height="4.19655" fill="#e6e6e6"></rect><rect x="154.53324" y="408.35815" width="4.19655" height="4.19655" fill="#e6e6e6"></rect><rect x="172.75082" y="307.91002" width="36.99753" height="36.99753" fill="#e6e6e6"></rect><rect x="321.11058" y="0.13939" width="245.88383" height="157.47494" fill="#e6e6e6"></rect><rect x="339.64671" y="44.19534" width="203.86136" height="77.03517" fill="#fff"></rect><rect x="376.78939" y="57.54179" width="48.92684" height="2.79582" fill="#e6e6e6"></rect><rect x="376.74025" y="67.80733" width="75.70547" height="2.79582" fill="#6c63ff"></rect><rect x="376.74025" y="77.47895" width="59.41117" height="2.79582" fill="#e6e6e6"></rect><rect x="376.74025" y="87.15058" width="34.94775" height="2.79582" fill="#e6e6e6"></rect><rect x="376.74025" y="96.8222" width="52.42162" height="2.79582" fill="#e6e6e6"></rect><rect x="354.60119" y="56.7378" width="5.59164" height="5.59164" fill="#e6e6e6"></rect><rect x="354.60119" y="66.40942" width="5.59164" height="5.59164" fill="#6c63ff"></rect><rect x="354.60119" y="76.08104" width="5.59164" height="5.59164" fill="#e6e6e6"></rect><rect x="354.60119" y="85.75267" width="5.59164" height="5.59164" fill="#e6e6e6"></rect><rect x="354.60119" y="95.42429" width="5.59164" height="5.59164" fill="#e6e6e6"></rect><rect x="483.44507" y="53.8475" width="50.05873" height="50.05873" fill="#e6e6e6"></rect><rect x="321.00559" width="245.88383" height="10.44604" fill="#6c63ff"></rect><circle cx="328.76825" cy="5.34057" r="2.09686" fill="#fff"></circle><circle cx="336.11718" cy="5.34057" r="2.09686" fill="#fff"></circle><circle cx="343.46611" cy="5.34057" r="2.09686" fill="#fff"></circle><rect x="671.64772" y="294.80743" width="60" height="31" fill="#e6e6e6"></rect><rect x="671.64772" y="405.80743" width="60" height="31" fill="#e6e6e6"></rect><circle cx="701.64772" cy="365.80743" r="50" fill="#e6e6e6"></circle><circle cx="701.64772" cy="365.80743" r="39" fill="#fff"></circle><rect x="688.87659" y="355.12175" width="30.24683" height="1.72839" fill="#e2e2e2"></rect><rect x="688.84621" y="361.46796" width="46.80151" height="1.72839" fill="#6c63ff"></rect><rect x="688.84621" y="367.44701" width="36.72829" height="1.72839" fill="#e2e2e2"></rect><rect x="688.84621" y="373.42605" width="21.60488" height="1.72839" fill="#e2e2e2"></rect><rect x="688.84621" y="379.4051" width="32.40732" height="1.72839" fill="#e2e2e2"></rect><rect x="675.15972" y="354.62472" width="3.45678" height="3.45678" fill="#e2e2e2"></rect><rect x="675.15972" y="360.60376" width="3.45678" height="3.45678" fill="#6c63ff"></rect><rect x="675.15972" y="366.58281" width="3.45678" height="3.45678" fill="#e2e2e2"></rect><rect x="675.15972" y="372.56186" width="3.45678" height="3.45678" fill="#e2e2e2"></rect><rect x="675.15972" y="378.54091" width="3.45678" height="3.45678" fill="#e2e2e2"></rect></svg>
      </div>
    </div>

  </div>


  <%# Our Services  Section %>
  <div class="mt-3">
    <h1 style="color:#43A62D;" class="text-center" >Our Services</h1>

    <p class="text-center mb-3">We are dedicated to provide cost effective quality output in lesser time.
    <br>Contact us and let work on your project</p>
  </div>

  <div>
    <div class="row mt-2 d-flex justify-content-center h-100">
      
      <div class="col-md-3 shadow-lg card p-4 m-1 rounded lol">
        <div class="d-flex justify-content-center"><img src="./images/ruby.png" class="rounded-circle"></div>
        <div class="text-center"><strong>Ruby on Rails Consulting</strong></div>
        <small class="text-center mt-3">We have 6 years of Ruby on rails Development and consulting experience</small>
      </div>

      <div class="col-md-3 shadow-lg card p-4 m-1 rounded">
        <div class="d-flex justify-content-center"><img src="./images/python.png" class="rounded-circle">
        
        </div>
        <div class="text-center"> <strong>Python Consulting</strong></div>
        <small class="text-center mt-3">We have 6 years of Ruby on rails Development and consulting experience</small>
      </div>

      <div class="col-md-3 shadow-lg card p-4 m-1 rounded">
        <div class="d-flex justify-content-center"><img src="./images/mobile.png"  class="rounded-circle"></div>
        <div class="text-center"><strong>Mobile Development</strong></div>
        <small class="text-center mt-3">We have 6 years of Ruby on rails Development and consulting experience</small>
      
      </div>

    </div>

    <div class="row mt-2 d-flex justify-content-center">
        <div class="col-md-3 shadow-lg card p-4 m-1 rounded ">
          <div class="d-flex justify-content-center"><img src="./images/digital_signage.png" class="rounded-circle"></div>
          <div class="text-center"><strong>Digital Sinage</strong></div>
          <small class="text-center mt-3">We have 6 years of Ruby on rails Development and consulting experience</small>
          
        </div>

        <div class="col-md-3 shadow-lg card p-4 m-1 rounded">
          <div class="d-flex justify-content-center"><img src="./images/tower.png" class="rounded-circle"></div>
          <div class="text-center"><strong>Survey and Tower Setup</strong></div>
          <small class="text-center mt-3">We have 6 years of Ruby on rails Development and consulting experience</small>
          
        </div>
        
        <div class="col-md-3 shadow-lg card p-4 m-1 rounded">
          <div class="d-flex justify-content-center"><img src="./images/optimization.png" class="rounded-circle"s></div>
          <div class="text-center"><strong>Code optimization</strong></div>
          <small class="text-center mt-3">We have 6 years of Ruby on rails Development and consulting experience</small>
        
        </div>
      </div>
    </div>
  </div>
  <%# Contact Us Section %>

  <div style="background-color:#707BFB" class="mt-5">
    <div>
      <h1 class="text-center mt-4 pt-4 text-light">Contact Us</h1>
      <p class="text-center mb-5 text-light">
      <small>You have something to say with us, Please write to us</small></p>
    </div>

    <div class="d-flex justify-content-center">
      <div style="background-color:#F8F7FA" class="p-5 rounded mb-5 col-md-5" >
        <p class="m-3">Send us a message</p>
        <form class="col-md-10">
          <input type="text" class="form-control mt-2 shadow" placeholder="Your name" >
          <input type="text" class="form-control mt-2 shadow" placeholder="Your email">
          <input type="text" class="form-control mt-2 shadow" placeholder="Your Address">
          <textarea type="textbox" class="form-control mt-2 shadow" placeholder="Message" row="10"  ></textarea>

          <input type="submit" class="btn mt-4 text-light rounded-pill px-4"  style="background-color:#43A62D;" value = "submit" >
        </form>

      </div>

    </div>


  </div>


  <%# Footer Section %>
  <div class="relative-bottom " style="background-color:#43A62D" >

    <div class= "row">

      <div class= "col-md-5 text-light ">
        <div class="p-4 mx-3">
          <h4 class="font-weight-bold">IdeaBreed IT Solution Pvt. Ltd.</h4>
          <small>
            <p class="pt-2" >At IdeaBreed we have a passion of turnning idea into reality. Our world class Team is fluent
              in Ruby on Rails, Python, Node.js,React,React Native, IOS, flutter, Android and we are ready to design
              ,buid and train so your product is rock-solid and user-friendly
            </p>
            <i class="fab fa-facebook-square fa-3x "></i>
           
            <i class="fab fa-twitter-square fa-3x mx-4"></i>
            <i class="fab fa-linkedin fa-3x " ></i>
          </small>
        </div>
      </div>

      <div class= "col-md-3 text-light" >
        
        <div class="p-4"> 
          <h4 class="mx-4 font-weight-bold">Useful Links</h4>
          <div class="pt-2">
            <a href="#" class="text-decoration-none text-light"><ul><small>Home</small></ul></a>
            <a href="#" class="text-decoration-none text-light"><ul><small>Service</small></ul></a>
            <a href="#" class="text-decoration-none text-light"><ul><small>Contact Us</small></ul></a>
            <a href="#" class="text-decoration-none text-light"><ul><small>Terms of Service</small></ul></a>
            <a href="#" class="text-decoration-none text-light"><ul><small>Privacy Policy</small></ul></a>
            
          </div>
        </div>
        
      </div>

      <div class= "col-md-4 text-light ">
        <div class="p-4 mx-4"> 
          <h4 class="mx-4 font-weight-bold">Contact Us</h4>

          <div class="pt-2">
            <ul><i class="fas fa-map-marker-alt mr-3 "></i><small>New Bansewowr, Kathmandu</small></ul>
            <ul><i class="fas fa-phone-alt mr-3"></i><small>01-4785170</small></ul>
            <ul><i class="fas fa-envelope mr-3"></i><small>ideabreed@gmail.com</small></ul>
            <ul><i class="fas fa-globe mr-3"></i><small>https://www.ideabreed.net</small></ul>
        </div>
      </div>
    </div>
  </div>

  <div style="background-color:#307547" class="text-center">
    <small class="text-light">Copyright 2021 Idea Breed IT solution Pvt Ltd</small>
  </div>
</div>